
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  background-color: #f7dea9;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
}

.header .logo {
  height: 70px;
}

.header .navbar a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  position: relative;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.header .navbar a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #f0a500;
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.header .navbar a:hover::after {
  width: 100%;
}

/
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url('images.jpeg') no-repeat center center/cover;
  color: white;
  padding: 20px;
  text-align: left;
}

.hero-content {
  flex: 1;
  animation: fadeIn 1.5s ease-in-out;
}

.hero-content h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  background: linear-gradient(to right, #c29535, #f6f0e5);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hero-content span {
  display: inline-block;
  background: #edac3b;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.hero-content button {
  padding: 10px 20px;
  border: none;
  background-color: #eec555;
  color: white;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.hero-content button:hover {
  background-color: #d1920b;
  transform: scale(1.1);
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: zoomIn 1.5s ease-in-out;
}


.hero-image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  
  box-shadow: 0 0 30px rgba(237, 187, 48, 0.4);
  transition: transform 0.5s ease-in-out;
}

.hero-image img:hover {
  transform: scale(1.2) rotate(5deg);
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #080808;
  color: rgb(165, 162, 162);
  position: relative;
  font-style: italic;
}

footer a {
  margin: 0 10px;
  color: #f0a500;
  text-decoration: none;
}

footer a:hover {
  color: #ff7600;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.card {
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}